.title {
	font-size: 6em;
	color: #A020F0;
	font-family: 'Carter One', cursive;
	text-align: center;
 }

.wrapper{
	margin-top: 3%;
}

.header {
	margin-top: 10%;
}

#heading {
	font-size: 2em;
	text-align: center;
}

.content {
	margin-top: 2%;
	text-align: center;
}

.social {
	margin-top: 5%;
}

@media (max-width: 480px) { 
    .title {
      font-size: 4	em;
      display: block;
      text-align: center;
    }

   	#heading {
   		font-size: 1.5em;
      	display: block;
      	text-align: center;
    }
}