body {
	font-family: 'Roboto', sans-serif;font-family: 
}
.title {
	font-size: 6em;
	color: #A020F0;
	font-family: 'Carter One', cursive;
	text-align: center;
 }

.wrapper{
	margin-top: 3%;
	text-align: center;
}

.header {
	margin-top: 10%;
}

#heading {
	font-size: 2em;
	text-align: center;
}

.content {
	margin-top: 2%;
	text-align: center;
}

.social {
	margin-top: 5%;
	text-align: center;
}

.meta {
	margin-top: 5%;
	text-align: center;
}

.typeform-share {
	margin-left: 10%;
}

.footer {
	text-align: center;
	font-size: 1.5em;
	position:fixed;
	float: right;
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;
}

h5 {
	margin-top: 0px !important;
	margin-bottom: 5px !important;
}

@media (max-width: 480px) { 
    .title {
      font-size: 4em;
      display: block;
      text-align: center;
    }

   	#heading {
   		font-size: 1.5em;
      	display: block;
      	text-align: center;
    }

    .footer {
		text-align: center;
		font-size: 1em;
		margin-top: 5%;
	}

}